<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_buttons.scss" rel="stylesheet/scss"
        type="text/css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_reboot.scss" rel="stylesheet/scss"
        type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/navstyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body onload="visFunction8()">

<!-----------------------------------------NAVBAR ---------------->
<div class="sidenav"  >
  <ul>
      <li>
          <a onclick="vis1()">
              <div class="center  ">
              <img style="height: 80px; width:80px;" src="../image/male_avatar.png">
                  <p style="font-size: 13px; text-align: center;"><%=user.Name%></p>
                  </div>
          </a>
          </li>
      <li>
<form action="/logout" id="logout_form" method="post">
<a onclick="document.getElementById('logout_form').submit();">
<div class="center">
  <img id="my-img5" src="../image/Component 5 – 10.png">
  <p style="font-size: 13px; text-align: center;">Logout</p>
  </div>
</a></form>
</li>
</ul>

</div>
<!---------------------------NAVBAR ENDS--------------------->
<!----------------------PROJECT NAME------------------------->

<div class="container">
 <div id="#Leadsub" class="main">

  <div class="col-md-12">
    <img class="leadhead" src="../image/Admin Dashboard.svg">
<div>
   <div class="col-md-12"><img class="line" src="../image/Path 26.svg"></div>

  <div class="row">
    <div class="col-md-12 col-xs-4">
      <div class="float-container">
        <div class="float-child">
            
    <div>
        <div class="sections text-center">
         
            <button type="button" id="openbtn1" class="btn btn-primary events_btn_img openbtn1 "  style="isolation: isolate; background-color: #f04705; border-color: #f04705;" onclick="visFunction8()">OPEN</button>
          
            <button type="button" id="validatedbtn1" class="btn btn-primary events_btn_img validatedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction9()">VALIDATED</button>
           
            <button type="button" id="rejectedbtn1" class="btn btn-primary events_btn_img rejectedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction10()">REJECTED</button>
          
            <button type="button" id="closedbtn1" class="btn btn-primary events_btn_img closedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction11()">CLOSED</button>
           
            
            </div>
           <form action="/leadexport/<%=id%>" id="export_form" method="get"> 
            <button type="button" onclick="document.getElementById('export_form').submit();" class="export" >Export</button>
          </form>
        </div>
   
        <div class="members container openimg1" id="openimg1"><%for(let lead of leads){%>
          <%if(lead.Status == "Open"){%>
          <div class="imageContainer1">
              <img  class="sideimge" src="../image/Component 10 – 56.png">
              
              <div class="caption text"><%=lead.project_name%></div>
              <div class="caption text1"><%=lead.customer_name%></div>
              <div class="caption text2"><%=lead.project_value%></div>
              <div class="caption text3"><%=lead.Segment_details%></div>
              <div class="caption text4"><%=lead.lead_submitted_by%></div>
              <div class="caption text5"><%=lead.lead_submitted_to%></div>
            <div class="caption status"><button  type="button" class="submit"><%=lead.Status%></button></div>
           
          </div>

          <%}%>   <%}%>

        </div>
     
      
      <div class="members container validatedimg" id="validatedimg1"><%for(let lead of leads){%>
          <%if(lead.Status == "Validated"){%>
          <div class="imageContainer1">
              <img class="sideimge" src="../image/Component 10 – 56.png">
              
              <div class="caption text"><%=lead.project_name%></div>
              <div class="caption text1"><%=lead.customer_name%></div>
              <div class="caption text2"><%=lead.project_value%></div>
              <div class="caption text3"><%=lead.Segment_details%></div>
              <div class="caption text4"><%=lead.lead_submitted_by%></div>
              <div class="caption text5"><%=lead.lead_submitted_to%></div>
              <div class="caption status"> <button type="button" class="submit"><%=lead.Status%></button></div>
          </div>
          <%}%> <%}%>
 
      </div>
      
      <div class="members container rejectedimg" id="rejectedimg1"><%for(let lead of leads){%>
          <%if(lead.Status == "Rejected"){%>
          <div class="imageContainer1">
            <img class="sideimge" src="../image/Component 10 – 56.png">
              
            <div class="caption text"><%=lead.project_name%></div>
            <div class="caption text1"><%=lead.customer_name%></div>
            <div class="caption text2"><%=lead.project_value%></div>
            <div class="caption text3"><%=lead.Segment_details%></div>
            <div class="caption text4"><%=lead.lead_submitted_by%></div>
            <div class="caption text5"><%=lead.lead_submitted_to%></div>
              <div class="caption status"> <button type="button" class="submit"><%=lead.Status%></button></div>
          </div>

          <%}}%>

      </div>
      
      <div class="members container closedimg" id="closedimg1"><%for(let lead of leads){%>
          <%if(lead.Status == "Closed"){%>
          <div class="imageContainer1">
              <img class="sideimge" src="../image/Component 10 – 56.png">
              
              <div class="caption text"><%=lead.project_name%></div>
              <div class="caption text1"><%=lead.customer_name%></div>
              <div class="caption text2"><%=lead.project_value%></div>
              <div class="caption text3"><%=lead.Segment_details%></div>
              <div class="caption text4"><%=lead.lead_submitted_by%></div>
              <div class="caption text5"><%=lead.lead_submitted_to%></div>
              <div class="caption status"> <button type="button" class="submit"><%=lead.Status%></button></div>
          </div>
          <%}}%>

      </div>
      <div>
          <img class="clipart_ad" src="../image/undraw_mobile_login_ikmv.svg">
         
          
      </div>
  </div>
</div>
</div>

<!----------------------------PROJECT dETAILS_---------------------------->

         <script src="../css/script.js" type="text/javascript"></script>        
         <!-- <script src="https://kit.fontawesome.com/yourcode.js"></script> -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
         <script src="/css/myChart.js" type="text/javascript"></script>
         <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              
</body>
</html>