<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_buttons.scss" rel="stylesheet/scss"
        type="text/css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_reboot.scss" rel="stylesheet/scss"
        type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/navstyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>
<body>

<!-----------------------------------------NAVBAR ---------------->
<div class="sidenav"  >
  <ul>
      <li>
          <a onclick="vis1()">
              <div class="center  ">
              <img style="height: 60px; width:60px;" src="../image/Component 11 – 1.png">
                  <p style="font-size: 13px; text-align: center;"><%=user.Name%></p>
                  </div>
          </a>
          </li>
      <li>
  <!--<a onclick="vis2()">
      <div class="center">
      <img id="my-img" src="../image/Component 3 – 10.png">
      <p style="font-size: 13px; text-align: center;">Analytics</p>
      </div>
  </a>
  </li>
  <li>
  <a onclick="vis3()">
      <div class="center">
          <img id="my-img2" src="../image/Component 4 – 39.png">
          <p style="font-size: 13px; text-align: center;">Add Lead</p>
          </div>
  </a>
</li>
  <li>
  <a onclick="vis4();visFunction();">
      <div class="center">
          <img style="width: 75px !important;" id="my-img3" src="../image/leadsub.png">
          <p style="font-size: 13px; text-align: center;">Lead<br> Submitted</p>
          </div>
  </a>
</li>
  <li>
  <a onclick="vis5();visFunction4();">
      <div class="center">
          <img id="my-img4" src="../image/checked@2x.png">
          <p style="font-size: 13px; text-align: center;">Leads<br>Assigned</p>
          </div>
  </a>
</li>
</li>
<li>--->
<form action="/logout" id="logout_form" method="post">
<a onclick="document.getElementById('logout_form').submit();">
<div class="center">
  <img id="my-img5" src="../image/Component 5 – 10.png">
  <p style="font-size: 13px; text-align: center;">Logout</p>
  </div>
</a></form>
</li>
</ul>

</div>
<!---------------------------NAVBAR ENDS--------------------->



<!----------------------PROJECT NAME------------------------->

<div class="container">
 <div id="#Leadsub" class="main">

  <div class="col-md-12">
    <img class="leadhead" src="../image/Admin Dashboard.svg">
<div>
   <div class="col-md-12"><img class="line" src="../image/Path 26.svg"></div>

  <div class="row">
    <div class="col-md-12 col-xs-4">
      <div class="float-container">
        <div class="float-child">
            <div class="dropdown transparentbar" id="myseg" >
             <input class="btn btn-light dropdown-toggle" type="text" list="segment"  name="Segment_details" placeholder="Segment Details" autocomplete="off">
             
              <datalist id="segment">
                <option value="Pharma">
                <option value="Bio-Pharma">
                <option value="Life Sciences">
                <option value="Diagnostics">
                <option value="Environmental & Applied Solutions">
              </datalist>
              
             
        </div>
    <div>
        <div class="sections text-center">
         
            <button type="button" id="openbtn1" class="btn btn-primary events_btn_img openbtn1 "  style="isolation: isolate; background-color: #f04705; border-color: #f04705;" onclick="visFunction8()">OPEN</button>
          
            <button type="button" id="validatedbtn1" class="btn btn-primary events_btn_img validatedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction9()">VALIDATED</button>
           
            <button type="button" id="rejectedbtn1" class="btn btn-primary events_btn_img rejectedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction10()">REJECTED</button>
          
            <button type="button" id="closedbtn1" class="btn btn-primary events_btn_img closedbtn1"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction11()">CLOSED</button>
           
            
            </div>
            <button type="button" class="export" >Export</button>
        </div>
   
        <div class="members container openimg1" id="openimg1">

          <div class="imageContainer1">
            <img style="width: 700px;" src="../image/Component 10 – 56.png">
            
            <div class="caption text">Project Name </div>
            
          </div>

          <div class="imageContainer1">
          <img style="width: 700px;" src="../image/Component 10 – 56.png">
          
          <div class="caption text">Project Name </div>
          
        </div>

              


      <div class="members container validatedimg1" id="validatedimg1">
        
      </div>


      <div class="members container rejectedimg1" id="rejectedimg1">

      </div>

      <div class="members container closedimg1" id="closedimg1">

      </div>

    

      
      
      
      
      
        
        
      <div>
          <img class="clipart_ad" src="../image/undraw_mobile_login_ikmv.svg">
         
          
      </div>

      
       
     
      

  </div>
</div>
</div>













    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
    <form autocomplete="off" action="/Submit_lead/<%=id%>" method="post">
        <p>Customer Name :</p>
        <input type="text" name="customer_name">
        <p>Project Detailes :</p>
        <input type="text" name="project_details">
        <p>Segment Details :</p>
        <input type="text" name="Segment_details">
        <p>Submeted by :</p>
        <input type="text" name="lead_submitted_by">
        <p>Submited to:</p>
        <div class="autocomplete" style="width:300px;">
        <input type="text" name="lead_submitted_to" id="myInput">
    </div>
       <button>Submit</button>
    </form>
    <%for(let lead of leads){%>
    <%=lead.customer_name%>
    <%=lead.Open_time%>
    <%=lead.Status%>
    <a href="/q/<%=lead.lead_submitted_to%>/<%=id%>">Link</a>
    <%}%>


    <!--CAUTION:::::::: DONOT MOVE THE BELOW SCRIPT TO SCRIPT.JS 👇👇 -->
    <script>
        function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
              closeAllLists(e.target);
          });
        }
        
        /*An array containing all the country names in the world:*/
        var  users= [<%for(let user of allUsers){%>
           "<%=user.Name%>",
            <%}%>]
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("myInput"),users );
        </script>
        
</body>
</html>