<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_buttons.scss" rel="stylesheet/scss"
        type="text/css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/scss/_reboot.scss" rel="stylesheet/scss"
        type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/navstyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body onload="vis()">

<!---------------NAVBAR------------>
<div class="sidenav"  >
        <ul>
            <li>
                <a onclick="vis1()">
                    <div class="center  ">
                    <img style="height: 60px; width:60px;" src="../image/Component 11 – 1.png">
                        <p style="font-size: 13px; text-align: center;"><%=user.Name%></p>
                        </div>
                </a>
                </li>
            <li>
        <a onclick="vis2()">
            <div class="center">
            <img id="my-img" src="../image/Component 3 – 10.png">
            <p style="font-size: 13px; text-align: center;">Analytics</p>
            </div>
        </a>
        </li>
        <li>
        <a onclick="vis3()">
            <div class="center">
                <img id="my-img2" src="../image/Component 4 – 39.png">
                <p style="font-size: 13px; text-align: center;">Add Lead</p>
                </div>
        </a>
    </li>
        <li>
        <a onclick="vis4()">
            <div class="center">
                <img style="width: 75px !important;" id="my-img3" src="../image/leadsub.png">
                <p style="font-size: 13px; text-align: center;">Lead<br> Submitted</p>
                </div>
        </a>
    </li>
        <li>
        <a onclick="vis5()">
            <div class="center">
                <img id="my-img4" src="../image/checked@2x.png">
                <p style="font-size: 13px; text-align: center;">Leads<br>Assigned</p>
                </div>
        </a>
    </li>
</li>
<li>
    <form action="/logout" id="logout_form" method="post">
<a onclick="document.getElementById('logout_form').submit();">
    <div class="center">
        <img id="my-img5" src="../image/Component 5 – 10.png">
        <p style="font-size: 13px; text-align: center;">Logout</p>
        </div>
</a></form>
</li>
</ul>

</div>
<!---------------NAVBAR END--------------------------->
<!---------------PROFILE------------------->
<div id="Profile" class="main">
    <div class="container">
        <%=user.Name%><br>
        <%=user.OpCo%><br>
        <%=user.Email%>
        <!-- <%=user.Position%> -->
    </div>
</div>


<!---------------PROFILE END---------------->

<!---------------ANALYTICS------------------->
<div id="Analytics" class="main">
    <div class="container">
       total no of leads:  <%=countLead%>
    </div>
</div>


<!---------------ANALYTICS END---------------->
<!---------------ADD LEAD------------------->


<div id="Add_lead" class="main">
    <div class="container">
        <div class="main">
            <div class="float-container">
            <div class="float-child">
                  <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Open
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">on11</a></li>
                    <li><a href="#">2121</a></li>
                    <li><a href="#">2cv</a></li>
                  </ul> -->
                  <!-- <img class="search" src="../image/search.png"> -->
                 
            </div>
            
                <!-- <div class="input-group rounded float-child">
                    
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                      
                    <span class="input-group-text border-0" id="search-addon">
                      
                    </span>
                   
                  </div> -->
              </div>
                </div>
                <div class="previous">
                    <img style="margin-left: 1200px !important;" src="../image/Component 2 – 11.png"></div>
                <section>
              <div ><br>
                <h1 id="heading">Add Lead</h1>
            </div> </section>
            
            <div class="container" style="margin-top: 60px; margin-left: 150px;">
                <div class="row" style="margin-top: 50px;">
            <div class="row "  >
                <div class="col-md-4 " >
                    <div class="form">
                        <label for="usr"></label>
                        <div class="customer">
                        <input type="text" class="form-control" style="margin-left: -100px !important;" placeholder="Customer"></div>
                      </div>
                      
                
                 </div> 
             <!-- <div class="col-md-4 ">
                 <img class="g201" style="margin-left: -100px !important;" src="../image/Group 201.png" >
                 <div class="centered"></div>
             </div> -->
             </div> 
              <div class="row">
                    <div class="col-md-4 ">
                        <img class="grp20" style="margin-left: -100px !important;" src="../image/Grp 20.png" >
                        <div class="centered"></div>
                       </div>
                    <!-- <div class="col-md-4">
                        <div class="form" >
                            <label for="usr"></label>
                            <input type="text"  class="form-control" style="margin-left: -100px !important;" placeholder="Name">
                          </div>
                    </div> -->
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form">
                        <label for="usr"></label>
                        <div class="Pname">
                        <input type="text" class="form-control" style="margin-left: -100px !important;" placeholder="Project Name"></div> <br><br><br>
                      </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form">
                    <label for="usr"></label>
                    <div class="lid">
                    <input type="text" class="form-control" style="margin-left: -100px !important;" placeholder="ID"></div>
                     </div>
                </div> -->
            
                <div class="col-md-4"> 
                    <div class="addpos">
                    <img id ="addimg" style="margin-left: 300px !important;"src="../image/addimg.png"></div>
                </div>
            </div>
            
            <div class="row">
                <!-- <div class="col-md-4 ">
                     
                    <div class="form">
                        <label for="usr"></label>
                        <input type="text" class="form-control" style="margin-left: -100px; !important" placeholder="Project $ Value">
                      </div>
                </div> -->
            
                 <div class="row">
                <div class="col-md-12">
                    <img class="g202" style="margin-left: 300px !important;" src="../image/Group 202.png" >
                    <div class="centered"></div>
                </div>
                <div class="col-md-12" id="yoyo">
                    <div class="form">
                        <label for="usr"></label>
                        <input type="text" class="form-control" style="margin-left: -100px !important;" placeholder="Name">
                      </div>
                </div>
                <div class="col-md-12" id="yoyo">
                    <div class="form">
                        <label for="usr"></label>
                        <input type="text" class="form-control" style="margin-left: -100px !important;" placeholder="ID">
                      </div>
                </div>
                </div>
            
                <div class="float-container">
                    <div class="float-child">
                        <div class="pos">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 180px; margin-left: 20px !important;">Segment Details
                          <span class="caret"></span></button></div>
                          <ul class="dropdown-menu">
                            <li><a href="#">on11</a></li>
                            <li><a href="#">2121</a></li>
                            <li><a href="#">2cv</a></li>
                          </ul>
                          
                         
                    </div>
                <div>
                    <button type="button" style="margin-left: -500px !important;" class="submit1">SUBMIT</button>
                </div>
            
            </div>
            
            
            </div>
            </div>
        
        </div>
        
        
        
        

        <form action="/Submit_lead/<%=userId%>" method="post">
            <p>Customer Name :</p>
            <input type="text" name="customer_name">
            <p>Project Name :</p>
            <input type="text" name="project_name">
            <p>Project Details :</p>
            <input type="text" name="project_details">
            <p>Segment Details :</p>
            <input type="text" list="segment" name="Segment_details" autocomplete="off">
            <datalist id="segment">
                <option value="Pharma">
                <option value="Bio-Pharma">
                <option value="Life Sciences">
                <option value="Diagnostics">
                <option value="Environmental & Applied Solutions">
              </datalist>
            <!-- <p>Submitted by :</p> -->
            <input type="text" name="lead_submitted_by" style="display: none;" value="<%=user.Name%>">
            <p>Submited to:</p>
            <input type="text" name="lead_submitted_to">
           <button>Submit</button>
        </form>
    </div>
</div>


<!---------------ADD LEAD ENDS---------------->
<!---------------LEAD SUBMITTED------------------->
<div id="lead_submitted" class="main">
    <div id="#Leadsub" class="main">
        <div class="container">
        
        
        <div >
            <img class="leadhead" src="../image/Leads Submitted.png">
            <div>
            <img class="line" src="../image/Path 26.svg"></div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-xs-4">
                <div class="sections text-center">
                    <button type="button" id="openbtn" class="btn btn-primary events_btn_img openbtn "  style="isolation: isolate; background-color: #f04705; border-color: #f04705;" onclick="visFunction()">OPEN</button>
                  
                    <button type="button" id="validatedbtn" class="btn btn-primary events_btn_img validatedbtn"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction1()">VALIDATED</button>
                   
                    <button type="button" id="rejectedbtn" class="btn btn-primary events_btn_img rejectedbtn"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction2()">REJECTED</button>
                  
                    <button type="button" id="closedbtn" class="btn btn-primary events_btn_img closedbtn"  style="isolation: isolate; background-color: #6c63ff; border-color: #6c63ff;" onclick="visFunction3()">CLOSED</button>
                   
                    
                    </div>
            
                </div>
        
                <div class="members container openimg" id="openimg">
        
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name </div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
                 
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
        
                    <div>
                        <img class="clipart" src="../image/undraw_Resume_folder_re_e0bi.svg">
                        
                    </div>
        
        
                </div>
        
                <div class="members container validatedimg" id="validatedimg">
        
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name </div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
                 
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
        
                    <div>
                        <img class="clipart" src="../image/undraw_Resume_folder_re_e0bi.svg">
                        
                    </div>
        
        
        
        
                </div>
        
                <div class="members container rejectedimg" id="rejectedimg">
        
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name </div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
                 
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
        
                    <div>
                        <img class="clipart" src="../image/undraw_Resume_folder_re_e0bi.svg">
                        
                    </div>
        
        
        
        
                </div>
        
                <div class="members container closedimg" id="closedimg">
        
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name </div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
                 
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
                    
                    <div class="imageContainer">
                        <img style="width: 700px;" src="../image/Component 10 – 56.png">
                        
                        <div class="caption text">Project Name</div>
                        <div class="caption status"> <button type="button" class="submit">Status</button></div>
                    </div>
        
        
                    <div>
                        <img class="clipart" src="../image/undraw_Resume_folder_re_e0bi.svg">
                        
                    </div>
        
        
        
        
                </div>
        
        
            </div>
        
        
        
        
        </div>
        </div>
       
    <div class="container">
        <h3>open</h3>
        <%for(let lead of leads){%>
            <%if(lead.lead_submitted_by == user.Name){%>
            <p><%=lead.customer_name%> <%=lead.Status%></p>
            <%}%>
            <%}%>
    </div>
</div>


<!---------------LEAD SUBMITTED ENDS---------------->
<!---------------LEAD ASSIGNED------------------->
<div id="lead_assigned" class="main">
    <div class="container">
        <%for (let lead of leads){%>
            <%if(lead.lead_submitted_by == user.Name){%>
            <%=lead.customer_name%>
            <%=lead.Status%>
            <form action="/update_status/<%=lead._id%>/<%=userId%>" method="POST">
                <select name="status">
                    <option value="Validated">Validated</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Closed">Closed</option>
                  </select>
                  <button>Update</button>
            </form>
            <%}%><%}%>
    </div>
</div>


<!---------------LEAD ASSIGNED ENDS---------------->
      
         <!-- <form action="/Submit_lead/<%=userId%>" method="post">
        <p>Customer Name :</p>
        <input type="text" name="customer_name">
        <p>Project Detailes :</p>
        <input type="text" name="project_details">
        <p>Segment Details :</p>
        <input type="text" name="Segment_details">
        <p>Submeted by :</p>
        <input type="text" name="lead_submitted_by">
        <p>Submited to:</p>
        <input type="text" name="lead_submitted_to">
       <button>Submit</button>
    </form> -->
        <br>


 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="/css/script.js" type="text/javascript"></script>        
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <script src="/css/myChart.js" type="text/javascript"></script>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script async type="text/javascript" src="/JS/script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              
        
</body>
</html>